.pkt_ext_containersignup {
	background-color: #EBEBEB;
	color: #333;
	display: block;
	font-size: 16px;
	font-family: "FiraSans","Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0px;
	padding: 0px;
	border: 0;
	position: relative;
	text-align: center;
}

.pkt_ext_containersignup .pkt_ext_introdetail {
    background-color: #FBFBFB;
    border-style: solid;
    border-color: #C1C1C1;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: 0px 0px 1px;
}

.pkt_ext_containersignup {
    color: #333;
    font-size: 16px;
    font-family: "FiraSans","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
}

.pkt_ext_containersignup .pkt_ext_logo {
    background: transparent url("chrome://cashback/content/resources/images/pocketlogo@1x.png") no-repeat scroll center bottom;
    display: block;
    height: 32px;
    margin: 0px auto 15px;
    padding-top: 25px;
    position: relative;
    text-indent: -9999px;
    width: 123px;
}

.pkt_ext_containersignup .pkt_ext_tagline {
    margin-bottom: 0.5em;
}

.pkt_ext_containersignup p {
    font-size: 14px;
    color: #333;
    font-family: "FiraSans","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.3;
    margin: 0px auto 1.5em;
    max-width: 260px;
}

.pkt_ext_containersignup .pkt_ext_introimg {
    background: transparent url("chrome://cashback/content/resources/images/pocketsignup_hero@1x.png") no-repeat scroll center center;
    display: block;
    height: 125px;
    margin: 0px auto;
    position: relative;
    text-indent: -9999px;
    width: 255px;
}

.pkt_ext_signupdetail h4 {
    font-size: 12px;
    font-weight: normal;
}

.pkt_ext_signupdetail .btn-container {
    position: relative;
    margin-bottom: 0.8em;
}

.pkt_ext_containersignup .alreadyhave {
    font-size: 12px;
    max-width: 320px;
    margin-top: 15px;
}